<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="log-in-form">
          <h2>Log In to AutoGrotto</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.email_field :email, placeholder: 'Email', autofocus: true, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-default" %>
            </div>
          <% end %>

          <div>
            <span><%= render "devise/shared/links" %></span>
          </div>
    </div>
  </div>
</div>